# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\Projects\openhomm\openhomm\ codebase based on best match to current usage at 07.01.2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*]
# end_of_line = lf
insert_final_newline = true

[*.cppm]
indent_style = space
indent_size = 4
